/*  your css code here. If applicable */
body{
	display:grid;

	width:100vw;
	height:100vh;
	
}
.grid-container{
	display:flex;
	grid-gap:10px 10px;
	flex-wrap:wrap;
	flex-direction:row;
	justify-items:space-evenly;
		grid-gap:10px 10px;
	
}
.grid-item{
  
	width:200px;
	height:150px;
	border-radius:5px;
	background-color:lightgray;
	font-size:40px;
	justify-content:center;
	align-items:center;
	margin:5px;

}
